body
{
    list-style-type: none;/*Madde isaretleri olmasın*/
}
.img_header {
    text-align: center;
}
.Searc
{
    background-color: rgb(236, 221, 221);
    margin: 0  0 0.5% 2%;
    text-align: center;
}

.First_Part
{
    background-color: #75e8dc;
    text-align: center;
    margin: 0 0.2% 0 2%;
    padding-top:16.5px;  
    width: 35%;
    height: 75px;
}

aside{ /*Icerik bolumleri yan yana olsun*/
    float: left;
    margin: 0 40px;
}

.Second_Part
{
    background-color: #5fcabf;
    width: 19%;
    margin: 0;
    text-align: center;
    height: 83px;
    padding: 4px;
    
}
.Third_Part
{
    background-color: #54bab0;
    width: 42%;
    margin: 0% 0.2%;
    text-align: center;
    height: 83px;
    padding: 4px;
    
}
.footer_clear {
   clear: both;/*float etkisini kaldırmak için*/
}
.footer {
    font-size: smaller;
    margin-top: 18px;
    text-align: center;

}
