.container {
  margin: 110px;
  text-align: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
    margin-right: 16px;
    list-style-type: none;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    font-family: arial,sans-serif;
    font-size: 15px;
  }
  .headerli a {
    color: black;
    display: block;
    padding: 6px 6px;
    text-decoration:none;
  }
  .listleft
  {
    float: left;
  }
  .listleft a {
    display: block;
    color: #74797e;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
  }
  .listright {
    float: left;
  }
  
  .listright a {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
  }
/**/  
  .headerli a:hover {
    text-decoration:none;
  }
  
  .pPhoto {/* Google profil photo*/
    height: 50px;
    width: 50px;
    border-radius: 30px;
  }
  
  .search-part {
    height: 44px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    border: 1px solid #dcdfe6;
    box-shadow: none;
    z-index: 3;
    margin-top: -78px;
    width: 580px;
    border-radius: 25px;
  }
  .search-part:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
  }

  .search {
    display: flex;
    padding: 5px 7px 0 16px;
    flex: 1;
    padding-left: 14px;
  }
  
  .search-img {/*arama kutusu logosu*/
    display: flex;
    padding-right: 14px;
    align-items: center;
    margin-top:1px;
    
  }
  .Googlebuttons {/*Button genel*/
    text-align: center;
    
  }
  
  .Googlebuttons button:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  }
  
  .voice_call{/*Google sesli arama kısmı*/
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;
    margin: 2px 0px;
  }
  .input-Layout {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .input-box {
    height: 35px;
    color: transparent;
    flex: 100%;
    white-space: pre;
    display: block;
    font: 16px arial, sans-serif;
    line-height: 34px;
  }
  
  .input {/*arama kısmı kutusu*/
    margin: 0;
    padding: 0;
    width: 480px;
    border: none;
    color:black;
    word-wrap: break-word;/*Google arama kutusundaki kelimeyi satır başına atmak için kullanılır*/
    outline: none;
    display: flex;
    flex: 100%;
    margin-top:-68px;
    font: 17px arial, sans-serif;
    line-height: 34px;
    height: 34px ;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    cursor: text;
    width: 480px;
  }
  
  .googlesearch {/*FirstButton*/
    text-align: center;
    font-family: Arial;
    width: 152px;
    margin: 20px 5px;
    padding: 0 17px;
    cursor: pointer;/*Uzerine geldiginde imlec degistirmek icin*/
    user-select: none;/*Buton icindeki metin secimini engelle*/
    border: 1px solid #f2f2f2;
    font-size: 15px;
    border-radius:3px;
    color: #5f6368;
    height:37px;
  }
  
  .feelinglucky {/*Second_Button*/
    padding: 0 17px;
    width: 154px;
    text-align: center;
    border-radius:3px;
    cursor: pointer;/*Uzerine geldiginde imlec degistirmek icin*/
    user-select: none;/*Buton icindeki metin secimini engelle*/
    border: 1px solid #f2f2f2;
    font-size: 15px;
    font-family: Arial;
    color: #5f6368;
    height:37px;
  }
  
  .footer { /*Alt kısım*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 10px;
    background-color: #f2f2f2;
  }
  
  .footerli {/*footer link*/
    float: left;
  }

  .footerli a {/*footer link*/
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
  }
  
  .footerli a:hover {/*footer link*/
    text-decoration: underline;
  }
  
  
  
  
  
